
#chatlog{
	position: absolute;
	border: none;
	text-align:center;
	width: 98%;
	height: 83%;
	margin: 5px;
	overflow-y:auto;
	color: #666666;
    background-color: white;
}
#chatConvo{
	overflow-y:auto;
}
#chatarea{
   background-color:white;
   position: fixed;
   border-style: solid;
	border-color: white;
	border-width: 5px;
	color: #666666;
   width:70%;
   height:100%;
   bottom:0;
}
#users{
   background-color:#e6f9ff;
   position: fixed;
   border-style: solid;
	border-color: white;
	border-width: 5px;
	color: #666666;
   width:29%;
   height:50%;
   top:0;
   right:0;
}
#rooms{
   background-color:#e6f9ff;
   position: fixed;
   border-style: solid;
	border-color: white;
	border-width: 5px;
	color: #666666;
   width:29%;
   height:50%;
   bottom:0;
   right:0;
}

#publicPrivate{
   background-color:#e6f9ff;
   margin: auto;
   position: fixed;
   border: none;
   width:80%;
   bottom:0;
   right:0;
}
#input{
   position:absolute;
   border: none;
   width:100%;
   height:15%;
   bottom:0px;
   background-color:white;
}

#login{
   position:absolute;
   border: none;
   width:100%;
   height:15%;
   bottom:0px;
   background-color:white;
}
#message_input{
    display: inline-block;
	background-color: #e6e6e6;
	border: none;
	width: 80%;
	height:95%;
	bottom:5px;
	margin: 0 0;
	font: 14px/14px Courier, sans-serif;
	overflow-y: scroll;
	word-wrap: break-word;
	word-break: normal;
    resize: none;
}
#send {
    background-color: white; 
    border: none;
    color: #66ccff;
	width: 19.5%;
	height:100%;
	right:0;
	position:absolute;
    text-align: center;
    font-weight: bold;
	font:24px/24px Courier, sans-serif;
    margin:0 auto;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#send:hover {
	background-color: #66ccff;
	color:white;
}

#user_input{
    display: inline-block;
	background-color: #e6e6e6;
	border: none;
	width: 80%;
	height:95%;
	bottom:5px;
	margin: 0 0;
	font: 14px/14px Courier, sans-serif;
	overflow-y: scroll;
	word-wrap: break-word;
	word-break: normal;
    resize: none;
}
#register {
    background-color: white; 
    border: none;
    color: #66ccff;
	width: 19.5%;
	height:100%;
	right:0;
	position:absolute;
    text-align: center;
    font-weight: bold;
	font:24px/24px Courier, sans-serif;
    margin:0 auto;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#register:hover {
	background-color: #66ccff;
	color:white;
}

#welcome{
	background-color: #e6f9ff;
    border: none;
    color: #66ccff;
	position:absolute;
    text-align: center;
	padding-top: 4px;
    font-weight: bold;
	font:24px/24px Courier, sans-serif;
    margin: 6px;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#welcomeUser{
	background-color: #e6f9ff;
    border: none;
    color: #ff4d4d;
	position:absolute;
    text-align: center;
	padding-left: 36px;
    font-weight: bold;
	font:30px/30px Courier, sans-serif;
    margin: 6px;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#disconnect{
	background-color: #e6f9ff;
    border: none;
    color: #66ccff;
	position:absolute;
    text-align: center;
    font-weight: bold;
	font:24px/24px Courier, sans-serif;
    margin:0 auto;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#disconnect:hover {
	background-color: #e6f9ff;
	color:#666666;
}

#joinRoom{
	background-color: #e6f9ff;
    border: none;
    color: #66ccff;
	float: left;
	position:absolute;
    text-align: center;
    font-weight: bold;
	font:16px/16px Courier, sans-serif;
    margin:12px;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#joinRoom:hover {
	background-color: #e6f9ff;
	color:#666666;
}

.joinInput{
	display: inline-block;
	background-color: #e6e6e6;
	border: none;
	font: 14px/14px Courier, sans-serif;
	overflow-y: scroll;
	word-wrap: break-word;
	word-break: normal;
    resize: none;
}

#public{
	background-color: #e6f9ff;
    border: none;
    color: #66ccff;
	float: left;
	position:absolute;
    text-align: center;
    font-weight: bold;
	font:16px/16px Courier, sans-serif;
    margin:12px;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#public:hover {
	background-color: #e6f9ff;
	color:#666666;
}

.publicInput{
	display: inline-block;
	background-color: #e6e6e6;
	border: none;
	font: 12px/12px Courier, sans-serif;
	overflow-y: scroll;
	word-wrap: break-word;
	word-break: normal;
    resize: none;
	margin-top: 22px;
	margin-left: 30px;
}

#private{
	background-color: #e6f9ff;
    border: none;
    color: #66ccff;
	position:absolute;
	float: right;
    text-align: center;
    font-weight: bold;
	font:16px/16px Courier, sans-serif;
    margin:12px;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#private:hover {
	background-color: #e6f9ff;
	color:#666666;
}

.privateInput{
	display: inline-block;
	background-color: #e6e6e6;
	border: none;
	font: 12px/12px Courier, sans-serif;
	overflow-y: scroll;
	word-wrap: break-word;
	word-break: normal;
    resize: none;
	margin-top: 22px;
}

#privateName{
	margin-left: 30px;
}

#startChatting{
	background-color: #e6f9ff;
    border: none;
	padding-top: 10px;
    color: #66ccff;
	position:absolute;
    text-align: center;
    font-weight: bold;
	font:24px/24px Courier, sans-serif;
    margin:0 auto;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#startChatting:hover {
	background-color: #e6f9ff;
	color:#666666;
}

#sep {
	height: 10px;
	color: #000000;
	background-color: #000000;
	border: none;
	position:absolute;
	bottom:50%
}

.listTitle{
	background-color: #e6f9ff;
    border: none;
    color: #66ccff;
	position:absolute;
    text-align: center;
	padding-top: 4px;
    font-weight: bold;
	font:24px/24px Courier, sans-serif;
    margin: 6px;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

li{
	background-color: #e6f9ff;
    border: none;
    color: #66ccff;
	position:absolute;
    text-align: center;
	padding-top: 4px;
    font-weight: bold;
	font:16px/16px Courier, sans-serif;
    margin: 6px;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

li:hover {
	background-color: #e6f9ff;
	color:#666666;
}
.whisper {
	color:#ff33cc !important;
}
#publicButton{
	background-color: #e6f9ff;
    border: none;
    color: #66ccff;
	float: left;
	position:absolute;
    text-align: center;
    font-weight: bold;
	font:16px/16px Courier, sans-serif;
    margin:12px;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#publicButton:hover {
	background-color: #e6f9ff;
	color:#666666;
}

#privateButton{
	background-color: #e6f9ff;
    border: none;
    color: #66ccff;
	float: left;
	position:absolute;
    text-align: center;
    font-weight: bold;
	font:16px/16px Courier, sans-serif;
    margin:12px;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#privateButton:hover {
	background-color: #e6f9ff;
	color:#666666;
}

.messageUser{
	color: #666666;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.messageUser:hover{
	color: #ff4d4d;
}

.messageLike{
	color: #66ccff;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.messageLike:hover{
	color: #ff4d4d;
}

.messageMessage{
	color: #66ccff;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.messageMessage:hover{
	color: #ff4d4d;
}
.suspend{
	background-color: #e6f9ff;
    border: none;
    color: #ff8800;
    font-weight: bold;
	font:16px/16px Courier, sans-serif;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.suspend:hover{
	color: #ff4d4d;
}

.ban{
	background-color: #e6f9ff;
    border: none;
    color: #cc0099;
    font-weight: bold;
	font:16px/16px Courier, sans-serif;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.ban:hover{
	color: #ff4d4d;
}